SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
WEBHOOK_SECRET=

FIREBASE_PROJECT_ID=
FIREBASE_WEB_API_KEY=
GOOGLE_SERVICE_ACCOUNT_JSON=
ALLOWED_DOMAIN=mail.yourschool.edu

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_WEBHOOK_SECRET=

NOTION_TOKEN=
NOTION_VERSION=2022-06-28

UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
