VITE_APP_TITLE=學生權益提案平台
VITE_APP_SHORT_NAME=SRP
VITE_ALLOWED_DOMAIN=mail.yourschool.edu
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_APP_ID=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_VAPID_KEY=
VITE_RECAPTCHA_ENTERPRISE_SITE_KEY=
VITE_SUPABASE_URL=
VITE_SUPABASE_PUBLISHABLE_KEY=
